<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.board.domain.ArticleVO" alias="ArticleVO"/>
    	<typeAlias type="com.board.domain.ReplyVO" alias="ReplyVO"/>
    	<typeAlias type="com.board.domain.UserVO" alias="UserVO"/>
    	<typeAlias type="com.board.domain.ReservationVO" alias="ReservationVO"/>
    	
    </typeAliases>
    
</configuration>